* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/airship2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh; 
  margin: 0; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header h1 {
  font-family: 'Limelight', cursive;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.back-game {
  padding: 8px 16px;
  background-color: #b62e2e;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}

main {
  margin: 90px 5% 0 5%; 
  display: flex;
  flex-direction: column;
}

article {
  margin-top: 20px;
  padding: 3rem;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 15px;  
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

section h2 {
  font-family: 'Limelight', cursive;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

section p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin: 10px 0;
}

.aaron-img, .dylan-img, .jennifer-img {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* Media query for larger devices */
@media screen and (min-width: 992px) {
  .header h1 {
    font-size: 50px;
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right:40vw;
  }

  section h2 {
    font-size: 25px;
  }

  section p {
    font-size: 20px;
    text-align: left;
  }

  .aaron-img, .dylan-img, .jennifer-img {
    max-height: 250px;
    margin-right: 20px;
  }

  article {
    flex: 1;
    padding: 2rem;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 15px; 
    
  }
}
