
body{
  background-color: rgb(205, 193, 157);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #b62e2e;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 25px 50px 75px;
}


.story-paragraph {
  font-family: 'Cinzel Decorative', serif;
  font-size: 25px;
  color: #6b0505;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 25px 50px 75px;
}


#nameForm {
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}


button {
  font-family: 'Cinzel Decorative', serif;
  background-color: #780808;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.character-image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px 60px;
}

.image-container {
  width: 100%;
  background-image: url('../img/paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.character-image img {
  max-width: 100%;
  height: auto;
}




.detec-character-image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px 100px;
  justify-content: space-between;
}

.detec-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url('../img/paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.detec-character-image img {
  max-width: 100%;
  height: auto;
}

h2 {
  padding: 15px;
  word-wrap: break-word;
  text-align:center;
  font-family: 'Cinzel Decorative', serif;
  font-size: 25px;
}




