* {
  box-sizing: border-box;
}
html {
  background-color: rgb(211, 179, 98);
}

#rotate-device {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  color: white;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #rotate-device {
      display: flex;
  }
}

.header{
  position: fixed;
  top:0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding:5px;
  height:25px;
}

.header h1 {
  display:none;
}

.header nav {
  margin-left:auto;
  padding: 10px 20px;
  background-color: #b62e2e;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align:center;
  align-self:center; 
}

.header nav a {
  color:#fff;
  text-decoration: none;
}

main {
  width: 100%;
  height: 90;
  position: relative;
  z-index: 1;
  margin:0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 45vh 45vh;
  grid-column-gap: 10px;
  background-image: url("../img/airship1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  transition: background-image 1s ease-in-out;
}

#accuse {
  width:100%;
  height: 10vh;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 0px;
  justify-content: center;
}

#accuse button {
  width:95%;
  height: 8vh;
  padding: 5px;
  background-color: #b62e2e;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  text-align:center;
}


.base-state {
  display:block;
  transition: transform 0.25s ease-in-out;
  transform-origin: center bottom;
}

.hidden {
  display: none !important;
}

#playerSpeech {
  max-height: 100%;
  background-image: url('../img/bgPaper.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  color: black;
  grid-area: 1 / 3 / 2 / 5;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  overflow: auto;
  overflow-y: auto;
  padding:10px;
  font-family: 'Caveat', cursive;
  word-wrap: break-word;
}

#playerSpeech > p {
  margin-top:10px;
  align-self: flex-start;
  justify-self: center;
  font-size: 16px;
}

#playerSpeech > h2 {
  align-self: flex-start;
  justify-self: center;
  font-size: 18px;
}



#clara {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self: end;
  margin-bottom:-3px;
}

#marguerite {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self: end;
  margin-bottom:-3px;
}

#alexander {
  grid-area: 2 / 3 / 3 / 4;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self:end;
  margin-bottom:-3px;
}

#jonathan {
  grid-area: 2 / 4 / 3 / 5;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self:end;
  margin-bottom:-3px;
}

#wallace {
  grid-area: 2 / 5 / 3 / 6;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self:end;
  margin-bottom:-3px;
}

#leonard {
  grid-area: 2 / 6 / 3 / 7;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self:end;
  margin-bottom:-3px;
}

#detective {
  grid-area: 2 / 5 / 3 / 6;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self:end;
}

#assistant {
  grid-area: 2 / 6 / 3 / 7;
  justify-self: center;
  max-width: 100%;
  width: 100%;  
  height: auto;
  align-self:end;
}

#evidence {
  grid-area: 2 / 3 / 3 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#evidence button {
  width: 40%;
  height: 25%;
  padding: 5px;
  background-color: #b62e2e;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 12x;
  cursor: pointer;
}


main div img {
  max-width: 100%;
  width: 100%;  
  height: auto;
}

.grid-button button {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#logbook-container {
  grid-area: 1 / 1 / 2 / 2;
}

#logbookButton {
  width: 60px;
  height: 75px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  outline: none;
  background-clip: content-box;
  margin-left: 1vw;
}

#logbookButton > img {
  width: 100%;
  height: 100%;
  z-index:1000;
  transition: transform 0.25s ease-in-out;
  transform-origin: center top;
}

#logbook-1 {
  grid-area: 1 / 2 / 3 / 4;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow:auto;
  z-index: 900;
  margin-top: 5vw;
  margin-bottom:5vw;
  margin-left: 10vw;
  margin-right:10px;
}

#logbook-2 {
  grid-area: 1 / 4 / 3 / 6;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 900;
  overflow:auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-right: 10vw;
  margin-left:10px;
}

#logbook-1 h3{
margin: 5px 0;
color: #0D0D0D;
font-size: 20px;
font-family: 'Caveat', cursive;
word-wrap: break-word;
}

#logbook-1 p {
margin: 5px 0;
color: #0D0D0D;
font-size: 16px;
font-family: 'Caveat', cursive;
word-wrap: break-word;
}

#logbook-2 p {
  margin: 5px 0;
  padding: 3px;
  color: #0D0D0D;
  font-size: 16px;
  font-family: 'Caveat', cursive;
  word-wrap: break-word;
  }

#LogText {
  font-family: 'Limelight', cursive;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-left:1vw;
}

#open-notebook {
  grid-area: 1 / 2 / 3 / 6;
  width: 100%;
  max-height: 100%;
  background-image: url('../img/openNotebook.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

@media screen and (min-width: 992px) {

  .header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: rgb(211, 179, 98);
    padding:1rem;
    height:80px;
  }

  .header h1 {
    display: block;
    text-align: center;
    flex-grow: 1;
    font-family: 'Limelight', cursive;
    color: #b62e2e;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 80px 50px 75px;
    font-size: 40px;
  }


  .header nav {
    margin-left:auto;
    margin-right:2.5%;
    padding: 10px 20px;
    background-color: #b62e2e;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
  }

  main {
    width: 95%;
    height: 80vh;
    margin: 80px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40vh 40vh;
    grid-column-gap: 10px;
    background-image: url("../img/airship1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    transition: background-image 1s ease-in-out;
  }

  #accuse {
    width:95%;
    height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 10px;
    justify-content: center;
  }

  #accuse button {
    width:50%;
    height: 50px;
    padding: 10px;
    background-color: #b62e2e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    text-align:center;
  }

  #accuse button:hover {
    background-color: #0056b3;
  }

  #accuse button:focus {
    outline: none;
  }


  .base-state:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px rgba(255, 234, 0, 0.8));
  }

  #playerSpeech > p {
    align-self: flex-start;
    justify-self: center;
    font-size: 24px;
  }

  #playerSpeech > h2 {
    align-self: flex-start;
    justify-self: center;
    font-size: 24px;
  }

  #evidence button {
    width: 40%;
    height: 15%;
    padding: 10px 20px;
    background-color: #b62e2e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  #evidence button:hover {
    background-color: #0056b3;
  }

  #evidence button:focus {
    outline: none;
  }

  main div img {
    max-width:100%;
    height:auto;
    max-height: 100%;
  }

  #accuse button:hover {
    background-color: #0056b3;
  }

  #accuse button:focus {
    outline: none;
  }

  #logbook-container {
    grid-area: 1 / 1 / 2 / 2;
  }

  #logbookButton {
    width: 100px;
    height: 150px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    outline: none;
    background-clip: content-box;
    margin-left: 1vw;
    margin-top: 1vw;
  }

  #logbookButton > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:1000;
    transition: transform 0.25s ease-in-out;
    transform-origin: center top;
  }

  #logbookButton:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px rgba(255, 234, 0, 0.8));
  }

  #logbook-1 h3{
    font-size: 30px;
    }

  #logbook-1 p {
  font-size: 24px;
  margin: 15px 0;
  }

  #logbook-2 p {
    font-size: 24px;
    margin: 15px 0;
    }

  #LogText {
    font-size: 24px;
    margin-top:1vw;
  }

}